*{
    ul{
        li{
            list-style: none;
        }
    }
}

/* nav */
nav{
    ul{
        display: flex;
        padding: 0 15px;
        list-style: none;
        gap: 10%;
        justify-content: center;
    }
}
/* nav */

/* Hero Section */
.social-icons{
    text-align: center;
}
/* End Of Hero Section */