@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Elymaic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+Sundanese:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Russo+One&display=swap");
.contact h2, .portfolio-section h2, .skills span, .skills h2, .about h2, .hero-section .portfolio-info h1 span {
  color: #7651fb;
  font-weight: 300;
  font-style: normal;
  background-clip: text;
  font-family: "Archivo Black", sans-serif;
  background: linear-gradient(to right, #9662fd 0%, #7940eb 30%, #271955 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
* ul li {
  list-style: none;
}

/* nav */
nav .row {
  margin: 0 auto;
  align-items: center;
}
nav img {
  height: 70px;
}
nav ul {
  display: flex;
  padding: 0 15px;
  list-style: none;
  justify-content: space-between;
}

/* nav */
/* Hero Section */
.hero-section {
  align-items: center;
  margin: 0 auto;
}
.hero-section .col-md-6 {
  width: 54% !important;
}
.hero-section .portfolio-info h1 {
  letter-spacing: 3px;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.hero-section .portfolio-info h2 {
  font-size: 30px;
  font-weight: 800;
}
.hero-section .portfolio-info p {
  font-size: 20px;
  color: rgba(99, 99, 99, 0.9921568627);
}
.hero-section .portfolio-info .social-icons {
  justify-content: center;
  align-items: center;
}
.hero-section .portfolio-info .social-icons .icon i {
  color: #7651fb;
  padding: 8px;
  border-radius: 160px;
  border: 1px solid #7651fb;
}
.hero-section .portfolio-info .about-btn a {
  width: 100%;
  display: block;
  padding: 10px 0;
  color: #7651fb;
  border-radius: 160px;
  text-decoration: none;
  border: 1px solid #7651fb;
}
.hero-section .hero-section-img {
  transform: rotate(5deg);
}
.hero-section .social-icons {
  text-align: center;
}

/* End Of Hero Section */
.about {
  align-items: center;
}
.about h2 {
  font-size: 35px;
  font-weight: 700;
}
.about .about-img img {
  width: 100%;
  padding: 15px;
  border: 1px solid #7940eb;
}

.skills {
  background: rgba(150, 98, 253, 0.0901960784);
}
.skills i {
  color: #7940eb;
  font-size: 35px;
}

.portfolio-section .portfolio-image {
  justify-content: space-between;
}
.portfolio-section .portfolio-image div img {
  width: 100%;
}

.contact {
  background: rgba(150, 98, 253, 0.0901960784);
}
.contact form input {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contact form textarea {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.contact form label {
  color: #95999d;
  padding-left: 13px;
}
.contact form button {
  border: none;
  color: #fff;
  padding: 12px;
  font-weight: 800;
  border-radius: 15px;
  background: #7940eb;
}

footer {
  background: #2b1453;
  color: #fff;
  margin: 0;
}
footer img {
  width: 6%;
  margin: 0 auto;
  text-align: center;
}
footer ul {
  padding: 0 10%;
  text-align: center;
  justify-content: center;
}
footer ul li a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
footer .rights-reserved a {
  color: #7940eb;
  transition: color 0.2s ease;
}
footer .rights-reserved a:hover {
  color: #a38cf5;
}/*# sourceMappingURL=style.css.map */